@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --light-blue: #D6D6D6;
    --light-bg: #F6F6F6;
    --secound:#FFBE00;
    --light-secound:#FFCC50;
    --primary:#000020;
    --light-primary:#171A4A;
    --third:#281F7A;
}
*{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
@layer base {
    * {
        transition: all 0.2s;
    }
}
