@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --light-bg: #F6F6F6;
    --secound:#FFBE00;
    --light-secound:#FFCC50;
    ---primary:#000020;
    --light-primary:#171A4A;
    --third:#281F7A;
}
@layer base {
    * {
        transition: all 0.2s;
    }
}

